@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* Basics Resetting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

img {
  width: 100%;
  display: block;
  line-height: 0;
}

/* Body is grid to place items at center*/

/* Utility classes */

.container {
  /* padding: 40px 10%; */
  max-width: 1440px;
}

/* Typography */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

.profile-name {
    font-weight: 500;
    font-size: 20px;
}

.profile-title {
  font-weight: 600;
  font-size: 13px;
}

/* Colors */
:root {
  --violet: hsl(263, 55%, 52%);
  --light-violet: #996ed9;
  --grey: hsl(217, 19%, 35%);
  --dark-grey: hsl(219, 29%, 14%);
}

.violet {
  background-color: var(--violet);
  color: white;
}

/* .grey {
  color: white;
} */

.light {
  background-color: white;
}

.dark {
  background-color: var(--dark-grey);
  color: white;
}

/* Cards Grid */

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 40px 50px 50px -50px rgba(79, 88, 103, 0.247);
}

/* Positioning cards */
.card:nth-of-type(1) {
  grid-column: span 2;
  background-repeat: no-repeat;
  background-position: 90% 0;
}

.card:nth-of-type(4) {
  grid-column: span 2;
  background-repeat: no-repeat;
  background-position: 90% 0;
}
.card:nth-of-type(7) {
  grid-column: span 2;
  grid-column: span 2;
  background-repeat: no-repeat;
  background-position: 90% 0;
}
 .testimonials blockquote{
  /* padding: 0 1em; */
    border-left: 3px solid rgba(0,0,0,.05);
    font-style: italic;
 }
    
/*  Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.profile .avatar {
  border-radius: 50%;
  width: 36px;
  aspect-ratio: 1;
  border: 2px solid;
}

.light .avatar {
  border: none;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.heading {
    margin-bottom: 15px;
    font-size: 20px;
}

/* Attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Hover Effects only for devices that supports hovering */
@media (hover: hover) {
  .card:hover {
    transform: scale(1.01);
    filter: saturate(1.2);
  }

  .card:nth-of-type(1):hover,
  .card:nth-last-of-type(3):hover {
    transform: translateX(-10px);
  }

  .card:nth-of-type(2):hover {
    transform: translateY(-10px);
  }

  .card:nth-of-type(4):hover {
    transform: translateY(10px);
  }

  .card:nth-of-type(5):hover {
    transform: translateX(10px);
  }

  /* this will blur the cards even if cursor is between the gaps 
  .card-grid:hover > .card:not(:hover) {
    filter: blur(1px);
  }
  */

  .card-blur {
    filter: blur(1.5px);
    opacity: 0.8;
  }
}

/* Adding Animation */

.card:nth-of-type(1),
.card:nth-of-type(3) {
  -webkit-animation: slideLeftToRight 1s ease-in;
  animation: slideLeftToRight 1s ease-out;
}

.card:nth-of-type(2) {
  -webkit-animation: slideTopToBottom 1s ease-in;
  animation: slideTopToBottom 1s ease-out;
}

.card:nth-of-type(4) {
  -webkit-animation: slideBottomToTop 1s ease-in;
  animation: slideBottomToTop 1s ease-out;
}

.card:nth-of-type(5) {
  -webkit-animation: slideRightToLeft 1s ease-in;
  animation: slideRightToLeft 1s ease-out;
}

@keyframes slideLeftToRight {
  0% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideRightToLeft {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTopToBottom {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottomToTop {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Responsiveness */
@media (max-width: 700px) {
  .card-grid {
    display: flex;
    flex-direction: column;
  }
}
